<div class="row mt-5">
  <div class="col-12">
    <div class="container">
      <div id="projects" class="mx-0.5">
        <h2 class="text font-extrabold text-4xl mb-3"> Projects</h2>
        <div class="card-container flex justify-content-center">
          <div class="cards">
            <% data.projects.each do |project| %>
              <div class="bg-project mt-2 max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="<%= project.url %>" target="_blank">
                  <%= image_tag project.image, class: "rounded-t-lg", alt: "project image" %>
                </a>
                <div class="p-4 card-text rounded-b-xl">
                  <a href="<%= project.url %>" target="_blank" >
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text"><%= project.name %></h5>
                  </a>
                  <p class="mb-3 font-normal"><%= project.description %></p>
                  <a href="<%= project.url %>" target="_blank" class="project-button inline-flex items-center me-0.5 px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-emerald-500 focus:ring-4 focus:outline-none <focus:ring-emerald-500></focus:ring-emerald-500>00 dark:bg-emerald-800 dark:hover:bg-emerald-800 ">
                  View site
                </a>
                <a href="<%= project.github %>" target="_blank" class="project-button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-emerald-500 focus:ring-4 focus:outline-none focus:ring-emerald-500 dark:bg-emerald-500 dark:hover:bg-emerald-500">
                  Github
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
